body {
    margin: 0;
    padding: 0;
   
  }
  
/* Ensure the app container takes full height */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container is at least as tall as the viewport */
}
